@tailwind base;
@tailwind components;
@tailwind utilities;

/* Zera margens, padding e garante que o fundo ocupe 100% */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  background-color: #000; /* pra remover fundo branco em volta */
}
