/* index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  @apply bg-gradient-to-b from-black via-gray-900 to-gray-800 text-white font-sans;
}

/* Ajuste da grid para diferentes tamanhos de tela */
.grid {
  display: grid;
  gap: 2rem; /* Espaçamento entre os itens da grid */
}

@media (min-width: 640px) { /* sm: tela pequena */
  .grid {
    grid-template-columns: repeat(2, 1fr); /* Exibe 2 colunas para telas pequenas */
  }
}

@media (min-width: 768px) { /* md: tela média */
  .grid {
    grid-template-columns: repeat(3, 1fr); /* Exibe 3 colunas para telas médias */
  }
}

@media (min-width: 1024px) { /* lg: tela grande */
  .grid {
    grid-template-columns: repeat(4, 1fr); /* Exibe 4 colunas para telas grandes */
  }
}
